.form__input-shake {
    animation: shake 0.2s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { transform: translateX(0px)  }
    25% { transform: translateX(2px) }
    50% { transform: translateX(0px)  }
    75% { transform: translateX(-2px) }
    100% { transform: translateX(0px)  }
}
.error {
    border-color: red;
    background: #FDD;
}

.error:focus {
    outline-color: #F99;
}
